In [1]:
import numpy as np

# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

# Change False to True for each block of code to see what it does

# Accessing elements
if False:
    print ridership[1, 3]
    print ridership[1:3, 3:5]
    print ridership[1, :]
    
# Vectorized operations on rows or columns
if False:
    print ridership[0, :] + ridership[1, :]
    print ridership[:, 0] + ridership[:, 1]
    
# Vectorized operations on entire arrays
if False:
    a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
    print a + b

def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    Hint: NumPy's argmax() function might be useful:
    http://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html
    '''
    #first_day_max = ridership[0,].argmax()
    
    
    overall_mean = ridership.mean() # Replace this with your code
    mean_for_max = ridership[:,ridership[0,].argmax()].mean() # Replace this with your code
    
    return (overall_mean, mean_for_max)

In [2]:
mean_riders_for_max_station(ridership)

(2342.5999999999999, 3239.9000000000001)

In [4]:
import pandas as pd
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [5]:
ridership_df[ridership_df.iloc[0].argmax()].mean()

3239.9000000000001

In [6]:
ridership_df.loc['05-05-11'].mean()

3504.8000000000002

In [7]:
ridership_df.mean().mean()

2342.6000000000004

In [8]:
# --- Quiz ---
# Cumulative entries and exits for one station for a few hours.
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits (entries in the first column, exits in the second) and
    return a DataFrame with hourly entries and exits (entries in the
    first column, exits in the second).
    '''
    
    Entites = entries_and_exits - entries_and_exits.shift(1)
    
    return Entites

In [9]:
get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0

In [10]:
def convert_grade(grade):
    if grade >= 90:
        return 'A' 
    elif grade >= 80:
        return 'B'
    elif grade >= 70:
        return 'C'
    elif grade >= 60:
        return 'D'
    else:
        return 'F'

In [11]:
convert_grade(85)

'B'

In [12]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

In [13]:
grades_df.applymap(convert_grade)

        exam1 exam2
Andre       F     F
Barry       B     D
Chris       C     F
Dan         C     F
Emilio      B     D
Fred        C     F
Greta       A     C
Humbert     D     F
Ivan        A     C
James       B     D

In [14]:
sr = grades_df['exam1']

In [61]:
def second_largest_in_sr(sr):
    return sr.sort_values(ascending=False).iloc[1]


'''# Another version:
def second_largest_in_sr(sr):
    return sr.sort_values()[-2]'''

'# Another version:\ndef second_largest_in_sr(sr):\n    return sr.sort_values()[-2]'

In [78]:
def second_largest_in_sr(sr):
    return sr.sort_values()[-2]

In [60]:
second_largest_in_sr(sr)

TypeError: sort_values() takes at least 2 arguments (2 given)

In [80]:
x = pd.DataFrame([1,3,5,7,9])

In [81]:
second_largest(x)

KeyError: (-2, u'occurred at index 0')

In [82]:
y = pd.DataFrame(data=x)
y.index = ['a','b','c','d','e']
y

   0
a  1
b  3
c  5
d  7
e  9

In [83]:
second_largest(y)

0    7
dtype: int64

In [74]:
second_largest_in_sr(y)

TypeError: sort_values() takes at least 2 arguments (2 given)

In [39]:
x.reset_index()

   index  0
0      0  1
1      1  5
2      2  3
3      3  9
4      4  7

In [40]:
x =  pd.Series([1,5,3,9,7])
second_largest_in_sr()

TypeError: sort_values() takes at least 2 arguments (1 given)

In [18]:
def second_largest(df):

    return df.apply(second_largest_in_sr)

In [19]:
second_largest(grades_df)

exam1    91
exam2    72
dtype: int64

In [20]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)



import pandas as pd

def standardize(df):
    '''
    Fill in this function to standardize each column of the given
    DataFrame. To standardize a variable, convert each value to the
    number of standard deviations it is above or below the mean.
    
    This time, try to use vectorized operations instead of apply().
    You should get the same results as you did before.
    '''
    means_col = df.mean()
    
    return (df - df.mean())/df.std(ddof=0)

In [21]:
def standardize_rows(df):
    '''
    Optional: Fill in this function to standardize each row of the given
    DataFrame. Again, try not to use apply().
    
    This one is more challenging than standardizing each column!
    '''
    means_col = df.mean(axis='columns')
    std_col = df.std(axis='columns', ddof=0)
    diffs = grades_df.sub(means_col,axis='index')
    
    return diffs.div(std_col, axis='index')

In [22]:
standardize_rows(grades_df)

         exam1  exam2
Andre      1.0   -1.0
Barry      1.0   -1.0
Chris      1.0   -1.0
Dan        1.0   -1.0
Emilio     1.0   -1.0
Fred       1.0   -1.0
Greta      1.0   -1.0
Humbert    1.0   -1.0
Ivan       1.0   -1.0
James      1.0   -1.0

In [23]:
diffs = grades_df.sub(grades_df.mean(axis='columns'),axis='index')

In [24]:
grades_df.shape[0]

10

In [25]:
grades_df.columns

Index([u'exam1', u'exam2'], dtype='object')

In [26]:
sr = pd.DataFrame(index=grades_df.index, columns=grades_df.columns)

In [27]:
sr

        exam1 exam2
Andre     NaN   NaN
Barry     NaN   NaN
Chris     NaN   NaN
Dan       NaN   NaN
Emilio    NaN   NaN
Fred      NaN   NaN
Greta     NaN   NaN
Humbert   NaN   NaN
Ivan      NaN   NaN
James     NaN   NaN

In [28]:
import pandas as pd
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

def get_hourly_entries_and_exits(entries_and_exits):
    '''
    Fill in this function to take a DataFrame with cumulative entries
    and exits (entries in the first column, exits in the second) and
    return a DataFrame with hourly entries and exits (entries in the
    first column, exits in the second).
    '''
    Entites = entries_and_exits - entries_and_exits.shift(1)
    
    return Entites

In [29]:
entries_and_exits

   ENTRIESn   EXITSn
0   3144312  1088151
1   3144335  1088159
2   3144353  1088177
3   3144424  1088231
4   3144594  1088275
5   3144808  1088317
6   3144895  1088328
7   3144905  1088331
8   3144941  1088420
9   3145094  1088753

In [30]:
get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0