In [1]:
import csv
import pandas
import re

In [3]:
raw_data = []
with open('wser2003.txt', 'r') as f:
    for line in f:
        raw_data.append(line)

In [12]:
firstLine = raw_data[0]
header = []
for element in firstLine.split('  '):
    if element != "":
        header.append(element.strip())
header

['Pl',
 'Last Name',
 'First Name',
 'Bib',
 'Time',
 'Pace',
 'D-Pl Div',
 'Hometown',
 'Start',
 'Red Star',
 'LB Mtn',
 'DThumb',
 'Michigan',
 'Foresthill',
 'River',
 'Hwy49',
 'Finish']

In [34]:
first_line = raw_data[1]
first_line.split('   ')

['  1  Jurek',
 '',
 '',
 '',
 ' Scott',
 '',
 '',
 '',
 'M1  16:01:18  9:37',
 '  1  M1829  Seattle, WA',
 '',
 '',
 '',
 '',
 '',
 '',
 ' OUT SAT 05:00  IN SAT 07:35',
 'IN SAT 09:15',
 'IN SAT 12:13',
 'IN SAT 13:40  OUT SAT 14:41',
 'IN SAT 17:07',
 'OUT SAT 19:52  FIN SAT 21:01\n']

In [31]:
print re.match("[0-9]+:[0-9]+","17") is not None

False

In [40]:
raw_data[1].split()

['1',
 'Jurek',
 'Scott',
 'M1',
 '16:01:18',
 '9:37',
 '1',
 'M1829',
 'Seattle,',
 'WA',
 'OUT',
 'SAT',
 '05:00',
 'IN',
 'SAT',
 '07:35',
 'IN',
 'SAT',
 '09:15',
 'IN',
 'SAT',
 '12:13',
 'IN',
 'SAT',
 '13:40',
 'OUT',
 'SAT',
 '14:41',
 'IN',
 'SAT',
 '17:07',
 'OUT',
 'SAT',
 '19:52',
 'FIN',
 'SAT',
 '21:01']

In [42]:
PL = []
first_names = []
last_names = []
for line in raw_data:
    try:
        PL.append(line.split()[0])
    except:
        PL.append(None)
    try:
        first_names.append(line.split()[1])
    except:
        first_names.append(None)
    try:
        last_names.append(line.split()[2])
    except:
        last_names.append(None)

In [46]:
raw_data[19:23]

[' 19  Simonsen          Rick             71  20:05:23  12:04    7  M4049  El Dorado Hills, CA              OUT SAT 05:00                 IN SAT 09:41                  IN SAT 14:49  OUT SAT 16:06   IN SAT 19:11   OUT SAT 23:34  FIN SUN 01:05\n',
 ' 20  Park              Luanne           F3  20:10:33  12:07    2  F4049  Redding, CA                      OUT SAT 05:00  IN SAT 08:04   IN SAT 10:00                  IN SAT 15:30  OUT SAT 16:46   IN SAT 19:58   OUT SAT 23:36  FIN SUN 01:10\n',
 '\n',
 'Pl   Last Name         First Name      Bib  Time      Pace   D-Pl Div    Hometown                         Start          Red Star       LB Mtn         DThumb         Michigan      Foresthill      River         Hwy49          Finish\n']

Task for data clean:
1. PL numbers -> each dictionary
2. First Name and Last Name to dictionary
3. Extract time to dictionary
4. Put all problem data into bad