In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
Let's assume that you combined the code from the previous 2 exercises with code
from the lesson on how to build requests, and downloaded all the data locally.
The files are in a directory "data", named after the carrier and airport:
"{}-{}.html".format(carrier, airport), for example "FL-ATL.html".

The table with flight info has a table class="dataTDRight". Your task is to
use 'process_file()' to extract the flight data from that table as a list of
dictionaries, each dictionary containing relevant data from the file and table
row. This is an example of the data structure you should return:

data = [{"courier": "FL",
         "airport": "ATL",
         "year": 2012,
         "month": 12,
         "flights": {"domestic": 100,
                     "international": 100}
        },
         {"courier": "..."}
]

Note - year, month, and the flight data should be integers.
You should skip the rows that contain the TOTAL data for a year.

There are couple of helper functions to deal with the data files.
Please do not change them for grading purposes.
All your changes should be in the 'process_file()' function.

The 'data/FL-ATL.html' file in the tab above is only a part of the full data,
covering data through 2003. The test() code will be run on the full table, but
the given file should provide an example of what you will get.
"""
from bs4 import BeautifulSoup
from zipfile import ZipFile
import os

datadir = "data"


def open_zip(datadir):
    with ZipFile('{0}.zip'.format(datadir), 'r') as myzip:
        myzip.extractall()


def process_all(datadir):
    files = os.listdir(datadir)
    return files

In [ ]:
def process_file(f):
    """
    This function extracts data from the file given as the function argument in
    a list of dictionaries. This is example of the data structure you should
    return:

    data = [{"courier": "FL",
             "airport": "ATL",
             "year": 2012,
             "month": 12,
             "flights": {"domestic": 100,
                         "international": 100}
            },
            {"courier": "..."}
    ]


    Note - year, month, and the flight data should be integers.
    You should skip the rows that contain the TOTAL data for a year.
    """
    data = []
    info = {}
    info["courier"], info["airport"] = f[:6].split("-")
    # Note: create a new dictionary for each entry in the output data list.
    # If you use the info dictionary defined here each element in the list 
    # will be a reference to the same info dictionary.
    with open("{}/{}".format(datadir, f), "r") as html:

        soup = BeautifulSoup(html)

    return data

In [36]:
html_f = open('./data/FL-ATL.html')
data = []
info = {}
soup = BeautifulSoup(html_f,"html.parser")

In [37]:
table = soup.find("table", attrs={"class":"dataTDRight"})
headings = [th.get_text() for th in table.find("tr").find_all("td")]
headings

[u'Year', u'Month', u'DOMESTIC', u'INTERNATIONAL', u'TOTAL']

In [56]:
for row in table.find_all("tr")[1:]:

    row_info = [td.get_text() for td in row.find_all("td")]
    if row_info[1] != 'TOTAL':
        info['year'] = int(row_info[0])
        info['month'] = int(row_info[1])
        info['flights']={}
        info['flights']['domestic'] = int(row_info[2].replace(',', ''))
        info['flights']['international'] = int(row_info[3].replace(',', ''))
        data.append(info)

In [57]:
data

[{'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003},
 {'flights': {'domestic': 798879, 'international': 97094},
  'month': 12,
  'year': 2003}]

In [22]:
soup.find(id='DataGrid1').find_all('td')

[<td>Year</td>,
 <td>Month</td>,
 <td>DOMESTIC</td>,
 <td>INTERNATIONAL</td>,
 <td>TOTAL</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2002</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">10</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">815,489</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">92,565</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">908,054</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2002</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">11</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">766,775</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">91,342</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">858,117</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2002</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">12</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">782,175</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">96,881</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">879,056</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>2002</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>TOTAL</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>8,085,083</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>1,023,994</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>9,109,077</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">1</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">785,651</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">98,053</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">883,704</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">690,750</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">85,965</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">776,715</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">3</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">797,634</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">97,929</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">895,563</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">4</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">766,639</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">89,398</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">856,037</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">5</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">789,857</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">87,671</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">877,528</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">6</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">798,841</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">95,435</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">894,276</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">7</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">832,075</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">102,795</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">934,870</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">8</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">831,185</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">102,145</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">933,330</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">9</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">782,264</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">90,681</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">872,945</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">10</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">818,777</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">91,820</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">910,597</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">11</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">766,266</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">91,004</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">857,270</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2003</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">12</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">798,879</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">97,094</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">895,973</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>2003</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>TOTAL</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>9,458,818</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>1,129,990</b></td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><b>10,588,808</b></td>]

In [ ]:
def test():
    print "Running a simple test..."
    open_zip(datadir)
    files = process_all(datadir)
    data = []
    # Test will loop over three data files.
    for f in files:
        data += process_file(f)
        
    assert len(data) == 399  # Total number of rows
    for entry in data[:3]:
        assert type(entry["year"]) == int
        assert type(entry["month"]) == int
        assert type(entry["flights"]["domestic"]) == int
        assert len(entry["airport"]) == 3
        assert len(entry["courier"]) == 2
    assert data[0]["courier"] == 'FL'
    assert data[0]["month"] == 10
    assert data[-1]["airport"] == "ATL"
    assert data[-1]["flights"] == {'international': 108289, 'domestic': 701425}
    
    print "... success!"

if __name__ == "__main__":
    test()